@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../../assets/Font/AvenirNextLTPro-UltLt.eot'),
        url('../../assets/Font/AvenirNextLTPro-UltLt.eot?#iefix') format('embedded-opentype'),
        url('../../assets/Font/AvenirNextLTPro-UltLt.woff2') format('woff2'),
        url('../../assets/Font/AvenirNextLTPro-UltLt.woff') format('woff'),
        url('../../assets/Font/AvenirNextLTPro-UltLt.ttf') format('truetype'),
        url('../../assets/Font/AvenirNextLTPro-UltLt.svg#AvenirNextLTPro-UltLt') format('svg');
    font-weight: 200;
}
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../../assets/Font/AvenirNextLTPro-Thin.eot'),
        url('../../assets/Font/AvenirNextLTPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../assets/Font/AvenirNextLTPro-Thin.woff2') format('woff2'),
        url('../../assets/Font/AvenirNextLTPro-Thin.woff') format('woff'),
        url('../../assets/Font/AvenirNextLTPro-Thin.ttf') format('truetype'),
        url('../../assets/Font/AvenirNextLTPro-Thin.svg#AvenirNextLTPro-Thin') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../../assets/Font/AvenirNextLTPro-Light.eot'),
        url('../../assets/Font/AvenirNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/Font/AvenirNextLTPro-Light.woff2') format('woff2'),
        url('../../assets/Font/AvenirNextLTPro-Light.woff') format('woff'),
        url('../../assets/Font/AvenirNextLTPro-Light.ttf') format('truetype'),
        url('../../assets/Font/AvenirNextLTPro-Light.svg#AvenirNextLTPro-Light') format('svg');
    font-weight: 400;
}
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../../assets/Font/AvenirNextLTPro-Regular.eot'),
        url('../../assets/Font/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/Font/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../../assets/Font/AvenirNextLTPro-Regular.woff') format('woff'),
        url('../../assets/Font/AvenirNextLTPro-Regular.ttf') format('truetype'),
        url('../../assets/Font/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: 500;
}
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../../assets/Font/AvenirNextLTPro-Medium.eot'),
        url('../../assets/Font/AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/Font/AvenirNextLTPro-Medium.woff2') format('woff2'),
        url('../../assets/Font/AvenirNextLTPro-Medium.woff') format('woff'),
        url('../../assets/Font/AvenirNextLTPro-Medium.ttf') format('truetype'),
        url('../../assets/Font/AvenirNextLTPro-Medium.svg#AvenirNextLTPro-Medium') format('svg');
    font-weight: 600;
}
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../../assets/Font/AvenirNextLTPro-Demi.eot'),
        url('../../assets/Font/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
        url('../../assets/Font/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../../assets/Font/AvenirNextLTPro-Demi.woff') format('woff'),
        url('../../assets/Font/AvenirNextLTPro-Demi.ttf') format('truetype'),
        url('../../assets/Font/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
    font-weight: 700;
}
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../../assets/Font/AvenirNextLTPro-Bold.eot'),
        url('../../assets/Font/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/Font/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../../assets/Font/AvenirNextLTPro-Bold.woff') format('woff'),
        url('../../assets/Font/AvenirNextLTPro-Bold.ttf') format('truetype'),
        url('../../assets/Font/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
    font-weight: 800;
}
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../../assets/Font/AvenirNextLTPro-Heavy.eot'),
        url('../../assets/Font/AvenirNextLTPro-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../../assets/Font/AvenirNextLTPro-Heavy.woff2') format('woff2'),
        url('../../assets/Font/AvenirNextLTPro-Heavy.woff') format('woff'),
        url('../../assets/Font/AvenirNextLTPro-Heavy.ttf') format('truetype'),
        url('../../assets/Font/AvenirNextLTPro-Heavy.svg#AvenirNextLTPro-Heavy') format('svg');
    font-weight: 900;
}